---
import { Picture } from "astro-imagetools/components";

const { src, width, height, alt, className, layout } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "../content/portfolio/**/*.{jpeg,jpg,png,gif,webp}"
);
console.log(src);
// if (!images[src]) {
//   console.log(src);
//   throw new Error(`Image not found: ${src}`);
// }
---

<div class={className}>
  <Picture
    src={src}
    alt={alt}
    height={height}
    width={width}
    placeholder="tracedSVG"
    layout={layout}
    objectFit="contain"
  />
</div>
