---
import { awards_data } from "../data";
---

<div class="grid md:grid-cols-3 gap-8">
  {
    awards_data.map((award) => (
      <a
        href={award.link}
        class="group bg-dark/50 backdrop-blur-lg rounded-lg px-6 pt-8 pb-6 transition-all hover:bg-dark/70 clip"
      >
        <img
          src={award.images}
          alt={award.name}
          class=" rounded-lg mb-4 group-hover:scale-105 transition-transform"
        />
        <h3 class="text-xl font-basement">{award.name}</h3>
        <p class="text-primary">{award.year}</p>
        <p class="text-gray-300 mt-2">{award.description}</p>
      </a>
    ))
  }
</div>
